@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body,
html {
  height: 100%;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  background-image: url("./weatherbg.png");
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
a:hover {
  text-decoration: none;
}
li {
  list-style: none;
}
p {
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 400;
  color: #606060;
}
.navbar {
  background: transparent;
}
.navbar-toggler {
  background-color: #fff;
}
.navbar .navbar-nav .nav-link {
  color: #000000;
  font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover {
  color: #000000;
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  width: 0%;
  content: "";
  height: 4px;
  transition: all 0.5s;
}
.navbar-nav .nav-item {
  margin-right: 40px;
}
.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}
.navbar {
  cursor: pointer;
}
.navbar-nav {
  margin-left: auto;
}
.nav-item a {
  color: white !important;
  font-weight: bold;
}
.navbar-brand,
.icon {
  font-size: 30px;
  color: white;
}
.header-section {
  text-align: center;
  padding-top: 40px;
}
.main-heading {
  color: white;
  margin-bottom: 20px;
}
.input-group {
  justify-content: center;
  padding-left: 25%;
  padding-right: 25%;
}
.inputstyle {
  border: 2px solid #ffffff;
  border-right: none;
  padding: 10px;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
input {
  background-color: #f9f9f9 !important;
}
.header-buttons {
  border: 1px solid #fff !important;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color: #fff;
  font: 1rem;
  font-weight: 400;
  line-height: 1.4;
}
.btn:hover.header-buttons {
  background-color: rgb(48, 5, 65);
}
.center-div p {
  font-size: 1.3rem;
  padding: 10px 0 20px 0;
  color: white;
}

/* Signin Signup styling start*/
.authentication-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.authentication-row {
  margin: 0;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}


.image-side img {
  width: 100%;
  height: auto;
  padding: 10px 5px 10px 5px;
  align-items: center ;
  justify-content: center;
}
.form-side {
  padding: .5rem;
  display: flex;
  align-items: center;
}
.input-area {
  background-color: #edf2f5;
  border-radius: 5px;
}
.login-form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 100%;
}
input:focus {
  outline: none !important;
  box-shadow: none !important ;
}
.login-form h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.login-form p {
  color: #6c757d;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}
.form-control {
  background-color: #edf2f5 !important;
  border: none;
  height: 3rem;
  padding: 0.5rem;
}
.custom-control-input {
  margin-right: 5px;
}
input[type="checkbox"] {
  cursor: pointer;
}
.custom-control-label::before,
.custom-control-label::after {
  top: 0.8rem;
}
.btn-primary {
  background-color: #007bff;
  border: none;
  height: 3rem;
  display: block;
  width: 100%;
}
.emoji {
  font-size: 50px;
}
.btn-secondary {
  background-color: #edf2f5 !important;
  border: none;
  height: 3rem;
  display: block;
  width: 100%;
  color: #007bff !important;
}
.social-icons a {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  background-color: #ddd;
  text-align: center;
  margin-right: 0.5rem;
  color: white;
  text-decoration: none;
}
.social-icons .fa-facebook-f {
  background-color: #3b5998;
}
.social-icons .fa-twitter {
  background-color: #1da1f2;
}
.social-icons .fa-google {
  background-color: #db4437;
}
/* footer styling */
.footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-heading {
  margin: auto;
  color: inherit;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.footer-icon,
.footer-social-icon {
  display: flex;
  align-items: center;
}
.footer-icon i.fa-temperature-half {
  margin-right: 10px;
}

.footer-heading p {
  margin-left: 10px;
  color: #ddd !important;
  color: inherit;
}
.footer-icon,
.footer-heading,
.footer-social-icon {
  display: flex;
  align-items: center;
}
.footer-icon {
  font-size: 30px;
  margin-right: 20px;
  color: inherit;
}
.footer-social-icon a {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 50%;
  text-align: center;
  margin-right: 0.5rem;
  color: inherit;
}
.footer-social-icon a:link {
  text-decoration: none;
}
.footer-social-icon .fa-twitter:hover .fa-google:hover .fa-facebook-f:hover {
  color: rgb(112, 109, 114);
}
.logout {
  color: white !important;
  font-weight: bold;
}
/* styling about us page */

.about-us {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #2e323c;
  background: linear-gradient(-45deg, #4f1dc6,rgb(48, 5, 65));
  position: relative;
  min-height: 100vh;
}
.container {
  flex: 1;
  padding-bottom: 60px; 
}
.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9fa8b9;
}
.account-settings .about {
  margin: 2rem 0 0 0;
  text-align: center;
}
.account-settings .about h5 {
  margin: 0 0 15px 0;
  color: #007ae1;
}
.account-settings .about p {
  font-size: 0.825rem;
}
.card {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}

/* styling page not found */

#oopss {
  background: linear-gradient(-45deg, #6aaebc, #9bc0d8);
  position: fixed;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  z-index: 9999;
}
#oopss #error-text {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Shabnam', Tahoma, sans-serif;
  color: #000;
  direction: rtl;
}
#oopss #error-text img {
  margin: 85px auto 20px;
  height: 342px;
}
#oopss #error-text span {
  position: relative;
  font-size: 3.3em;
  font-weight: 900;
  margin-bottom: 50px;
}
#oopss #error-text p.p-a {
  font-size: 19px;
  margin: 30px 0 15px 0;
}
#oopss #error-text p.p-b {
  font-size: 15px;
}

@font-face {
  font-family: Shabnam;
  src: url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam-Bold.eot");
  src: url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam-Bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam-Bold.woff") format("woff"), url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam-Bold.woff2") format("woff2"), url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Shabnam;
  src: url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam.eot");
  src: url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam.eot?#iefix") format("embedded-opentype"), url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam.woff") format("woff"), url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam.woff2") format("woff2"), url("https://cdn.rawgit.com/ahmedhosna95/upload/ba6564f8/fonts/Shabnam/Shabnam.ttf") format("truetype");
  font-weight: normal;
}


@media (max-width: 992px) {
  .authentication-container .authentication-row{
    width: 100%;
  }
  .image-side img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .form-side {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .input-query{
    margin: 0;
    padding: 0%;
  }
}

@media(max-width: 768px) {

  .image-side img {
    max-width: 100%;
    height: auto;
  }
  .form-side {
    padding: 1rem; 
  }
 
  .form-side img {
    max-width: 80%; 
    height: auto;
    margin: 0 auto; 
  }
}