@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.header {
  background-size: cover;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
li {
  list-style: none;
}
p {
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 400;
  color: #606060;
}
i {
  color: #2fccd0;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: 
    url("./weatherbg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.navbar {
  background-color: transparent !important;
  cursor: pointer;
}
.navbar-nav {
  margin-left: auto;
}
.header:before {
  content: "";
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  /*opacity: .3;
  z-index: -1;
  background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);*/
}

.navbar:before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*opacity: .3;
  z-index: -1;
  background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);*/
}
.nav-item a {
  color: white !important;
  font-weight: bold;
}
.navbar-brand,
.icon {
  font-size: 30px;
  color: white;
}
.header-section {
  width: 100%;
  height: inherit;
  color: white;
  text-align: center;
  position: relative;
}
.main-heading {
  margin-bottom: 15px;
}
.center-div {
  width: 50%;
  height: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*textarea:focus, input:focus{
  outline: none !important;
}*/
input {
  background-color: #f9f9f9 !important;
}
.header-buttons {
  border: 1px solid #fff !important;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color: #fff;
  font: 1rem;
  font-weight: 400;
  line-height: 1.4;
}
.btn:hover {
  background-color: rgb(12, 126, 184);
}
.center-div p {
  font-size: 1.3rem;
  padding: 10px 0 20px 0;
  color: white;
}
.centered-snowman {
  height: 100px;
  width: 100px;
  display: block;
  margin: 0 auto;
}
/* Signin Signup styling start*/


.authentication-container{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.authentication-row{
  margin: 0;
  width: 80%; 
  max-width: 1200px;
}

.image-side img {
    width: 100%; 
    height: auto; 
    max-height: 100%;
    margin-top: 35px;
}
.form-side {
  padding: 2rem;
  display: flex;
  align-items: center;
}
.input-area{
  background-color: #edf2f5;
  border-radius: 5px;
}
.login-form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: auto; 
  width: 100%; 
}
input:focus{
  outline: none !important;
  box-shadow:none !important ;
}
.login-form h2{
  font-size: 2rem;
  margin-bottom: .5rem;
}
.login-form p{
  color: #6c757d;
  margin-bottom: 1.5rem;
}

.form-group{
  margin-bottom: 1.5rem;
}
.form-control{
  background-color:#edf2f5 !important;
  border: none;
  height: 3rem;
}
.custom-control-input{
  margin-right: 5px;
}

.custom-control-label::before,
.custom-control-label::after {
  top: .8rem; 
}
.btn-primary{
  background-color: #007bff;
  border: none;
  height: 3rem;
  display: block;
  width: 100%;
}
.social-icons a{
  display: inline-block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  background-color: #ddd;
  text-align: center;
  margin-right: .5rem;
  color: white;
}
.social-icons .fa-facebook-f{background-color: #3b5998;}
.social-icons .fa-twitter {background-color: #1da1f2;}
.social-icons .fa-google {background-color: #db4437;}


@media (max-width: 992px) {
  .image-side {
    
  }

  .form-side {
    padding-top: 20px; 
}

}

@media (max-width: 768px) {
  .center-div {
    width: 90%;
  }
  .content {
    display: block;
    padding: 20px;
  }
  
}
@media (max-width:768px) {
  .authentication-container{
    width: 100%;
  }
  .form-side{
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}




